/*div:hover {
  border: 3px solid red;
}*/


body {
  margin: 0;
  padding: 0;
  /*background-image: url("./img/fon.png");*/
  background: rgb(1,154,222);
}

#wrapper {
  max-width: 100%;
  min-width: 320px;
  padding-top: 60px;
  /*background-image: url("../img/fon.png");*/
  background-size: 100% 100%;
  margin: auto;
}

#wrapper:after {
  display: table;
  content: "";
  height: 0;
}

#header {
  background-image: url("../img/header-black.png");
  position: fixed;
  height: 31px;
  top: 0;
  z-index: 1;
  width: calc(100% - 32px);
  min-width: calc(320px - 32px);
  padding: 16px;
  overflow: hidden;
}

#header-box-logo {
  float: left;
  height: 100%;
  width: 30px;
  background-image: url("../img/logo.png");
  background-size: 30px 30px;
  background-repeat: no-repeat;
}

#header-box-logo-led {
  float: left;
  height: 100%;
  width: 10px;
  background-image: url("../img/led.png");
  background-size: 10px 10px;
  background-repeat: no-repeat;
}

#header-box-logo-text {
  float: left;
  height: 100%;
  color: #ffffff;
  font-family: 'Open Sans Condensed';
  font-size: 20px;
  vertical-align: middle;
  padding-left: 10px;
}

#header-box-menu {
  float: right;
  height: 100%;
  width: 46px;
  background-image: url("../img/menu-btn.png");
  background-repeat: no-repeat;
  background-size: 46px 30px;
}

#content {
  margin: 16px;
}

#toolbox ul {
  list-style: outside none none;
  display: flex;
  justify-content: space-between;
  text-align: justify;
  margin: 0;
  padding: 0;
  margin-bottom: 25px;
}

#toolbox ul li {
  display: inline-block;
  border-radius: 8px;
  border: 2px solid white;
  width: 65px;
  height: 65px;
  vertical-align: top;
  text-align: center;
  background-repeat: no-repeat;
  background-size: 65px 65px;
}

#main {
  border-top: 2px solid #bbb4a8;
}

#main-header {
  color: #ffffff;
  font-family: 'Open Sans Condensed';
  font-size: 30px;
  vertical-align: middle;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

#main-content {
  padding-left: 15px;
  padding-right: 15px;
}

.input-text {
  border-radius: 8px;
  border: 2px solid white;
  background-color: transparent;
  margin-top: 16px;
  margin-bottom: 16px;
  padding: 7px;
  display: block;
}

.input-text-wrapper {
  display: table;
  padding: 0;
  margin: 0;
  width: 100%;
}

.input-text-row {
  display: table-row;
  vertical-align: middle;
  width: 100%;
}

.input-text-cell {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
}

.input-text-cell:nth-child(1) {
  width: 17px;
}

.input-text-cell:nth-child(2) {
  padding-right: 7px;
}

.input-text-cell input {
  color: #ffffff;
  width: 100%;
  height: 100%;
  font-family: 'Open Sans Condensed';
  font-size: 14px;
  font-weight: 800;
  background-color: transparent;
  border: none;
  margin: 0 7px;
}

.input-text-img {
  vertical-align: middle;
  width: 17px;
}

.ib1 {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: calc((200% - 24px)/3 + 4px);
  margin-top: 16px;
  margin-bottom: 16px;
}

.ib2 {
  position: absolute;
  width: calc((200% - 24px)/3);
  height: 0;
  padding-bottom: calc((200% - 24px)/3);
  background-image: url("../img/lk/big_icon.png");
  background-size: 75%;
  background-repeat: no-repeat;
  background-position: center;
}

.ib3 {
  position: absolute;
  right: 0;
  top: 0;
  width: calc((100% - 36px)/3);
  height: 0;
  padding-bottom: calc((100% - 36px)/3);
  background-image: url("../img/lk/add_icon.png");
  background-size: 75%;
  background-repeat: no-repeat;
  background-position: center;
}

.ib4 {
  position: absolute;
  bottom: 0;
  right: 0;
  width: calc((100% - 36px)/3);
  height: 0;
  padding-bottom: calc((100% - 36px)/3);
  background-image: url("../img/lk/delete_icon.png");
  background-size: 75%;
  background-repeat: no-repeat;
  background-position: center;
}

.round-box {
  border-radius: 8px;
  border: 2px solid white;
  background-color: transparent;
}

.clear-float {
  clear: both;
}

#tool-data {
  background-image: url("../img/lk/data.png");
}

#tool-addresses {
  background-image: url("../img/lk/addresses.png");
}

#tool-messages {
  background-image: url("../img/lk/messages.png");
}

#tool-neighbours {
  background-image: url("../img/lk/neighbours.png");
}

.input-checkbox {
  margin-top: 16px;
  margin-bottom: 16px;
}

.input-checkbox-wrapper {
  display: table;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0;
  width: calc(100% - 32px);
}

.input-checkbox-row {
  display: table-row;
  vertical-align: middle;
  width: 100%;
}

.input-checkbox-cell {
  display: table-cell;
  vertical-align: top;
  position: relative;
}

.input-checkbox-cell:nth-child(2) {
  padding-left: 14px;
}

.input-checkbox-cell input[type="checkbox"] {
  opacity: 0;
}

.cb-div {
  width: 18px;
  height: 18px;
  vertical-align: top;
  position: absolute;
  left: 0;
  top: 0;
  background: url("../img/cb-0.png") no-repeat;
  /*background-position: 10px;*/
}

input[type="checkbox"]:checked ~ .cb-div {
  background: url("../img/cb-1.png") no-repeat;
  /*background-position: 0px -20px;*/
}

.content-text {
  color: #ffffff;
  font-weight: 800;
  font-family: 'Open Sans Condensed';
}

.padded-text {
  margin-left: 7px;
  margin-right: 7px;
}

.input-search {
  margin-top: 16px;
  margin-bottom: 16px;
}

.input-chat-area {
  min-height: 80px;
  padding: 6px;
  margin-bottom: 16px;
  margin-top: 4px;
}

.input-chat-area textarea {
  color: #ffffff;
  width: 100%;
  min-height: 80px;
  font-family: 'Open Sans Condensed';
  font-size: 14px;
  font-weight: 800;
  background-color: transparent;
  border: none;
  resize: none;
}

.input-chat-wrapper {
  border-top: rgba(255, 255, 255, 0.4) solid 1px;
  border-bottom: rgba(255, 255, 255, 0.4) solid 1px;
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: rgba(255, 255, 255, 0.2);
}

.input-chat-header {
  display: table;
  width: 100%;
}

.input-chat-header-name {
  display: table-cell;
  vertical-align: middle;
  padding-left: 10px;
}

.input-chat-header-dev {
  display: table-cell;
  vertical-align: middle;
  padding-left: 2px;
}

.input-chat-header-back {
  display: table-cell;
  vertical-align: middle;
}

.input-chat-toolbox {
  display: table;
  width: 100%;
}

.input-chat-send-btn {
  border-radius: 8px;
  background-color: #216fbd;
  width: 102px;
  height: 29px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.input-chat-tb-img {
  display: table-cell;
  vertical-align: middle;
  float: right;
  padding-right: 10px;
}

.input-chat-history-item {
  border-bottom: rgba(255, 255, 255, 0.4) solid 1px;
  padding: 7px;
  background-color: rgba(255, 255, 255, 0.2);
}

.big-button {
  border-radius: 8px;
  background-color: #216fbd;
  width: 192px;
  height: 44px;
  margin: auto;
  display: table;
}

.button-caption {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  width: 100%;
  height: 100%;
}

.list {
  margin-top: 16px;
  margin-bottom: 16px;
}

.list-header {
  background-color: rgba(255, 255, 255, 0.2);
  border-bottom: rgba(255, 255, 255, 0.4) solid 2px;
  border-top: rgba(255, 255, 255, 0.4) solid 2px;
  height: 52px;
}

.list-header-icon {
  display: table-cell;
  vertical-align: middle;
  padding-left: 16px;
  width: 18px;
}

.list-header-caption {
  display: table-cell;
  vertical-align: middle;
  font-size: 22px;
  padding-left: 16px;
}

.list-header-button {
  display: table-cell;
  vertical-align: middle;
  padding-right: 16px;
  width: 0;
}

.list-item {
  border-bottom: rgba(255, 255, 255, 0.4) solid 1px;
  padding: 7px;
  background-color: rgba(255, 255, 255, 0.2);
}

.list-item-index {
  text-indent: right;
  display: table-cell;
}

.list-item-text {
  padding-left: 10px;
}

.list-footer {
  background-color: rgba(255, 255, 255, 0.2);
  padding-top: 10px;
  padding-bottom: 10px;
}

.list-footer-button {
  width: 35px;
  height: 7px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.4);
  margin: auto;
}

.menu-button {
  width: 16px;
}

.menu-button-strip {
  margin-bottom: 2px;
  width: 100%;
  height: 3px;
  border-radius: 16px;
  background-color: rgba(255, 255, 255, 0.4);
}

.menu-button-strip:nth-child(3) {
  margin-bottom: 0;
}

.round-display {
  background: transparent;
  border-radius: 5px;
  vertical-align: middle;
  text-align: center;
  min-width: 16px;
  border: 1px solid white;
  padding-left: 2px;
  padding-right: 2px;
}

.spam-delete {
  display: table;
  width: calc(100% - 49px);
  vertical-align: middle;
  text-align: center;
  font-size: 32px;
}

.spam {
  background-color: rgba(0, 0, 0, 0.8);
  width: calc((100% - 49px) / 2);
  height: 100%;
  display: table-cell;
  position: absolute;
  top: 0;
  left: 0;
  vertical-align: middle;
  line-height: 100%;
}

.delete {
  background-color: rgba(255, 0, 0, 0.8);
  width: calc((100% - 49px) / 2);
  height: 100%;
  display: table-cell;
  position: absolute;
  top: 0;
  vertical-align: middle;
  left: calc((100% - 49px) / 2);
  line-height: 100%;
}
